*/target/**

*/.mvn/**

!.mvn/wrapper/maven-wrapper.jar
*.class
*.log
*.gz
*.jar
ApiClient.java

# Spring Boot
HELP.md

# macOS
.DS_Store
.DS_Store?
._*

# IDE
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
